img {
	width: 350px;
}
h1 {
	color: Gold;
}
h1 {
	text-align: center;
}
h1 {
	text-shadow: 0 0 20px #000000;
}
p {
	text-align: center;
}
h2 {
	text-align: center;
}
img {
	display: block;
	margin: auto;
}
input {
	color: red
}
input {
	display: block;
	margin: auto;
}


